attached_assets/compas_1773125844258.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/compas_1773195112542.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/bnd_sido_00_2023_2Q_1773203477708.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/bnd_sigungu_00_2023_2Q_1773203477708.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/2023_Q2_행정구역경계(읍면동)_1773205800355.zip filter=lfs diff=lfs merge=lfs -text
